<p style="font-family: Arial, sans-serif; font-size: 16px; color: #333333">
    Здравствуйте <%= name %>,
  </p>
  <p style="font-family: Arial, sans-serif; font-size: 16px; color: #333333">
    Спасибо за регистрацию. Мы очень рады видеть вас на борту.
  </p>
  
  <p style="font-family: Arial, sans-serif; font-size: 16px; color: #333333">
    Вот данные вашей учетной записи:
  </p>
  <ul
    style="
      font-family: Arial, sans-serif;
      font-size: 16px;
      color: #333333;
      padding-left: 20px;
    "
  >
    <li style="color: #555555">Электронная почта: <%= email %></li>
    <li style="color: #555555">Адрес для входа в систему: <%= loginUrl %></li>
  </ul>
  
  <p style="font-family: Arial, sans-serif; font-size: 16px; color: #333333">
    Спасибо!<br />Строим и месим
  </p>